:root {
    --color-black: #000;
    --color-cod-gray: #171717;
    --color-dark-gray: #2E2E2E;
    --color-yellow: #FFCC00;
    --color-darker-yellow: #C69E02;
    --color-white: #FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/roboto/regular.woff2") format("woff2"), url("/assets/fonts/roboto/regular.woff") format("woff")
}

@font-face {
    font-family: 'Druk Text Wide Cyrillic';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/druk/text-bold.woff2") format("woff2"), url("/assets/fonts/druk/text-bold.woff") format("woff")
}

@font-face {
    font-family: 'Druk Wide Cyrillic';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/druk/wide-bold.woff2") format("woff2"), url("/assets/fonts/druk/wide-bold.woff") format("woff")
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./assets/images/page-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-wrapper__overlay {
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.page-wrapper__overlay--dark {
    overflow-y: hidden;
    opacity: 0.2;
}

.container {
    margin: 0 auto;
    padding: 0 50px 0 120px;
    min-width: 320px;
}

.header {
    display: flex;
    width: 100%;
}

.header__container {
    margin: 0;
}

.header__logo {
    padding-top: 65px;
    cursor: pointer;
}

.logo {
    width: 180px;
    height: 60px;
}

.main {
    flex-grow: 1;
}

.promo__container {
    display: flex;
    align-items: center;
}

.promo__content {
    margin-right: 100px;
}

.promo__text--bold {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.promo__text--yellow {
    display: inline-block;
    font-family: 'Druk Wide Cyrillic', sans-serif;
    font-weight: 700;
    font-size: 115px;
    font-style: normal;
    line-height: 105px;
    color: var(--color-yellow);
}

.promo__text--white {
    display: inline-block;
    font-family: 'Druk Text Wide Cyrillic', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--color-white);
}

.promo__text--white-l {
    font-size: 67px;
    line-height: 67px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__text--white-m {
    font-size: 47px;
    line-height: 47px;
}

.promo__text {
    margin: 0;
}

.promo__text--m {
    font-size: 27px;
    line-height: 32px;
}

.promo__text--s {
    font-size: 22px;
    line-height: 26px;
    text-transform: lowercase;
}

.promo__btn {
    position: relative;
    top: 0;
    display: inline-block;
    margin-top: 30px;
    width: 325px;
    height: 85px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: var(--color-black);
    background-color: var(--color-yellow);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.promo__btn:focus,
.promo__btn:hover {
    background-color: var(--color-darker-yellow);
}

.promo__btn:active {
    top: 3px;
}

.promo__img img {
    width: 730px;
    height: 590px;
}

.footer {
    flex-shrink: 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    background-color: var(--color-black);
}

.social__list {
    display: flex;
}

.social__link {
    display: inline-block;
    width: 150px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 35px;
}

.social__link--apple {
    background-image: url('./assets/images/app-store.svg');
}

.social__link--google {
    background-image: url('./assets/images/google.svg');
}

.rule__link {
    font-size: 23px;
    line-height: 27px;
}

.football-team__list {
    display: flex;
}

.football-team__item:not(:last-child) {
    margin-right: 20px;
}

.football-team__link {
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.football-team__link--atletico {
    width: 40px;
    background-image: url('./assets/images/footer-img-1.png');
    background-size: 35px 43px;
}

.football-team__link--borussia {
    width: 50px;
    background-image: url('./assets/images/footer-img-2.png');
    background-size: 47px 42px;
}

.football-team__link--inter {
    width: 50px;
    background-image: url('./assets/images/footer-img-3.png');
    background-size: 47px 42px;
}

.football-team__link--valencia {
    width: 40px;
    background-image: url('./assets/images/footer-img-4.png');
    background-size: 35px 43px;
}